<h5>
<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
</h5>

<div class="form text-center">
  <%= form_for :session do |f| %>
    <%= f.label :email %><br>
    <%= f.text_field :email %><br><br>

    <%= f.label :password %><br>
    <%= f.password_field :password %><br><br>

    <%= f.submit "Login"%>
  <% end %>
</div>