<h1><%= "#{@user.name}'s Games"%></h1>

<%=button_to "Edit Profile", edit_user_path(@user), method: :get%>

<h3>My Games:</h3>

    <% @user.games.sort.each do |game|%>
        <div class="game">
            <%= image_tag "#{game.image_url}" %>
            <div class="text">
                <p><%= game.name%></p>
                <b>Rating: </b><%= game.rating %>
            </div>
        </div>
        
    <% end%>

<%=button_to "Add Game", new_review_path, method: :get%>

<h3>My Systems:</h3>
<ul>
    <% @user.systems.each do |sys|%>
        <li><%= sys.name %></li>
    <% end%>
</ul>
<%=button_to "Add System", new_system_user_path, method: :get%>

<h3>My Reviews:</h3>
<ul>
    <% @user.reviews.each do |review|%>
        <li><%= link_to "#{review.game.name} - #{review.title} - #{review.rating}", review_path(review)%></li>
    <%end%>
</ul>

<h3>System Lists:</h3>
<%@user.game_lists.each do |system, list|%>
    <ul>
        <li><%="#{system} Games:"%>
            <ul>
                <%list.each do |game|%>
                    <li><%=game%></li>
                <%end%>
            </ul>
        </li>
    </ul>
<%end%>