<div id="main">    
    <div class="text-center">
        <h1>My Profile</h1>
    </div>

    <div class="show-form" style="margin-bottom: 45px; margin-top:25px;">
        <%= form_tag( "/users/#{@user.id}", :method => :get )  do %>
            <% game_lists = @user.game_lists.map{|list,games| list}%>
            <%= select_tag "game_list", options_for_select(game_lists), prompt: "Select System"%><br>
            <%= hidden_field_tag "id", @user.id%><br>
            <div class="show-button">
                <%= submit_tag "Filter by System"%>
                <%= button_to "Clear Filter", user_path(@user), id: @user.id, method: :get%>
            </div>
        <% end %>
       
    </div>

    <%if params[:game_list]%>
        <h3 class="text-center"><%= params[:game_list]%> Games:</h3>
    <%end%>


<div class="container my-4" style="margin-bottom:45px;">
    <h3>My Games</h3>
    <div class="row">
        <% @user_games.each do |game|%>
            <div class="col-md-4" style="margin-bottom: 15px;">
                <div class="card h-100 shadow-lg">
                    <img src= <%= game.image_url %> class="card-img-top">
                    <div class="card-body bg-dark text-light">
                        <h5 class="text-center sys_link"><%= link_to "#{game.name}", game_path(game) %></h5>
                        <br>
                        <strong><h6><%= Review.find_by(user_id: @user.id, game_id: game.id).completion_status%></h6></strong>
                        <li class="card-text"><strong>Rating:</strong> <%= game.rating %></li>
                        <li class="card-text"><strong>Genre:</strong> <%= game.genre %></li>
                        <li class="card-text"><strong>Number of Ratings:</strong> <%= game.rating_count %></li>
                        <br>
                        <div class="show-button">
                            <%= button_to  "Add/Edit Review", edit_review_path(Review.find_by(user_id: @user.id, game_id: game.id)), method: :get %>
                            <%= button_to  "Remove Game", review_path(Review.find_by(user_id: @user.id, game_id: game.id)), method: :delete %>
                        </div>
                    </div>
                </div>
            </div>
        <% end%>
    </div>
</div>


<div class="container" style="margin-bottom: 45px;">
    <h3>My Systems</h3>
    <div class="row">
        <% @user.systems.each do |sys|%>
            <div class="col-md-5" style="margin-bottom:15px;margin-top;15px">
                <div id="sys_card"class="card shadow">
                    <img id="sys_pic"class="card-img" src=<%= sys.image_url %> alt="Card image">
                    <div class="card text-center bg-dark">
                        <div class="show-button ">
                            <%= button_to sys.name, system_path(sys), method: :get%>
                            <%= button_to "Remove System", system_user_path(SystemUser.find_by(user_id: @user.id, system_id: sys.id)), method: :delete %>
                        </div>
                    </div>
                </div>
            </div>
        <% end%>
    </div>
</div>

    
    <div class="container" >
        <h3>My Reviews</h3>
        <% @user.reviews.each do |review|%>
                <% if review.title != nil && review.description != nil%>
                    <div class="card review_card shadow" style="width: 45rem;">
                        <div class="card-body">
                            <h5 class="card-title"><%= link_to  review.game.name, review_path(review) %></h5>
                            <hr>
                            <h6 class="card-subtitle mb-2 text"><%= review.title %></h6>
                            <p class="card-text"><%= review.description %></p>
                        </div>
                    </div>
                <% end %>
            <% end%>
        </div>
    </div>
</div>