<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="<%= root_path %>">Home</a>
  <a href="<%= edit_user_path %>">Edit Profile</a>
  <a href="<%= games_path %>">Add Game</a>
</div>

<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

/* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft = "0";
}
</script>

<div id="main">    
    <div class="text-center">
        <h1><%= "#{@user.name.split.map(&:capitalize).join(' ')}'s Games"%></h1>
    </div>

    <div class="form" style="margin-bottom: 45px;">
    <%= form_tag( "/users/#{@user.id}", :method => :get )  do %>
        <% game_lists = @user.game_lists.map{|list,games| list}%>
        <%= select_tag "game_list", options_for_select(game_lists), prompt: "Select System"%>
        <%= hidden_field_tag "id", @user.id%>
        <%= submit_tag "Filter"%>
    <% end %>
    <%= button_to "Clear Filter", user_path(@user), id: @user.id, method: :get%>
    </div>

    <%if params[:game_list]%>
        <p><%= params[:game_list]%> Games</p>
    <%end%>


    <div class="container my-4" style="margin-bottom:45px;">
    <div class="row">
        <% @user.games.each do |game|%>
            <div class="col-md-4" style="margin-bottom: 15px;">
                <div class="card h-100 shadow-lg">
                    <img src= <%= game.image_url %> class="card-img-top">
                    <div class="card-body bg-dark text-light">
                        <h5 class="text-center sys_link"><%= link_to "#{game.name}", game_path(game) %></h5>
                        <br>
                        <li class="card-text"><strong>Rating:</strong> <%= game.rating %></li>
                        <li class="card-text"><strong>Genre:</strong> <%= game.genre %></li>
                        <li class="card-text"><strong>Number of Ratings:</strong> <%= game.rating_count %></li>
                        <br>
                        <a href=<%= edit_review_path(Review.find_by(user_id: @user.id, game_id: game.id)) %> class="btn btn-primary">Add or Edit Review</a>
                    </div>
                </div>
            </div>
        <% end%>
    </div>
</div>


    <div class="container" style="margin-bottom: 45px;">
        <h3>My Systems</h3>
        <div class="row">
            <% @user.systems.each do |sys|%>
                <div class="col-md-3" style="margin-bottom:15px;margin-top;15px">
                    <div id="sys_card"class="card shadow bg-dark">
                        <img id="sys_pic"class="card-img" src=<%= sys.image_url %> alt="Card image">
                        <div class="card-img-overlay text-center">
                            <a class="sys_link" href=<%= system_path(sys) %>> <%= sys.name%> </a>
                        </div>
                    </div>
                    <div class="show-button">
                        <%= button_to "View All Games", system_path(sys), method: :get%>
                        <%= button_to "Remove System", system_user_path(SystemUser.find_by(user_id: @user.id, system_id: sys.id)), method: :delete%>
                    </div>
                </div>
            <% end%>
        </div>
    </div>

    
    
    <div class="container" >
        <h3>My Reviews</h3>
        <% @user.reviews.each do |review|%>
                <% if review.title != nil && review.description != nil%>
                    <div class="card review_card shadow" style="width: 45rem;">
                        <div class="card-body">
                            <h5 class="card-title"><%= review.game.name %></h5>
                            <hr>
                            <h6 class="card-subtitle mb-2 text"><%= review.title %></h6>
                            <p class="card-text"><%= review.description %></p>
                        </div>
                    </div>
                <% end %>
            <% end%>
        </div>
    </div>
</div>