<h1>Games</h1>

<%= form_tag(games_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Games" %>
    <%= submit_tag "Search" %>
        <%# if @games.present? %>
            <%# render @games %>
        <%# end %>
<% end %>

<div class="container my-4">
  <div class="row">
    <% @games.each do |game|%>
            <div id= "game_card" class="col-lg-4 col-md-12 mb-4">
                <%= image_tag  "#{game.image_url}" %>
                <%=link_to  "#{game.name}", game_path(game) %>
            </div>
    <% end %>
  </div>
</div>





