<h2><%= @game.name %></h2>

<ul>
    <li><%= @game.rating %></li>        
    <li><%= @game.genre %></li>
    <li><%= @game.esrb_rating %></li>
    <li><%= @game.rating_count %></li>
    <li><%= image_tag  @game.image_url %></li>
</ul>