<h2><%= @game.name %> (<%= @game.rating %>) </h2>
      
    <p>Genre: <%= @game.genre %></p>
    <p>ESRB Rating: <%= @game.esrb_rating %></p>
    <p><% @game.rating_count %></p>
    <p><%= image_tag  @game.image_url %></p>



  <%= form_tag(reviews_path) do %>
    <%=hidden_field_tag :user_id, session[:user_id]%>
    <%=hidden_field_tag :game_id, @game.id%>
    <%= submit_tag "Add Game" %>
  <% end %>
