<h2><%= @game.name %> (<%= @game.rating %>) </h2>
      
    <p>Genre: <%= @game.genre %></p>
    <p>ESRB Rating: <%= @game.esrb_rating %></p>
    <p><% @game.rating_count %></p>
    <p><%= image_tag  @game.image_url %></p>

    <%= button_to "Add Game", new_review_path, method: :get %>
