<h1>Add a Game System</h1>
<br>
<br>
<div class="form text-center">
    <%if flash[:errors]%>
        <p class="text-danger"><%=flash[:errors]%></p>
    <%end%>
    <%= form_for @system_user do |f| %>

        <%= f.label "Add a system: " %><br>
        <%= f.collection_select :system_id, System.all, :id, :name, {:multiple => true} %><br>

        <%= f.submit "Add system" %>
    <% end %>
</div>

