<%if flash[:errors]%>
    <%flash[:errors].each do |error|%>
        <p><%=error%></p>
    <%end%>
<%end%>
<div class="form">
  <%= form_for @review do |f| %>
    <p>
      For: <%= @review.game.name %>
    </p>

    <p>
      Completion Status:<%= f.select :completion_status, options_for_select(["Completed", "Want", "Playing", "Abandoned"], @review.completion_status) %>
    </p>

    <%=f.hidden_field :game_id, :value => @review.game_id%>
    <%=f.hidden_field :user_id, :value => session[:user_id]%>
    <p>
      Rating: <%= f.number_field :rating %>
    </p>

    <p>
      Title: <%= f.text_field :title %>
    </p>

    <p>
      Description: <%= f.text_area :description %>
    </p>

    <%= f.submit %>
  <% end %>
</div>