<h1><%= @review.game.name%></h1>

<ul>
    <li><%="Rating: #{@review.rating}"%></li>
    <li>Title: <%=@review.title%></li>
    <li>Description: <%=@review.description%></li>
</ul>

<%
=begin%>
 <%= form_tag( 'path' , remote: true) do |f| %>
<%= hidden_field_tag (:id_name, "value") %>
<% end %> 
<%
=end%>

