<!DOCTYPE html>
<html>
  <head>
    <title>BacklgMod2project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap" rel="stylesheet">
   
  </head>
 
  <body >
  <div class="banner">
      <%= image_tag "b@cklg_banner.png", class: "banner-img" %>
    </div>

  <ul class="nav">
      <li><a href="<%= games_path %>">All Games</a></li>
      <%
=begin%>
 <li><a href="<%= list_path(@current_user.) %>">My Games</a></li> 
<%
=end%>

      <% if @current_user %>
        <li><a href="<%= user_path(@current_user) %>">Profile</a></li>
        <li class="right">Welcome <%= @current_user.name %>!</li>
        <li class="right"><%= link_to "Log Out", logout_path, method: :delete %></li>
      <% else %>
        <li class="right"><a href="<%= new_user_path %>">Sign Up!</a></li>
        <li class="right"><a href="<%= new_login_path %>">Login!</a></li>
      <% end %>
    </ul>
    <%= yield %>
  </body>
</html>
