<!DOCTYPE html>
<html>
  <head>
    <title>BacklgMod2project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <ul class="side_nav">
      <li><a href="<%= games_path %>">All Games</a></li>
      <%
=begin%>
 <li><a href="<%= list_path(@current_user.) %>">My Games</a></li> 
<%
=end%>

      <% if @current_user %>
        <li><a href="<%= user_path(@current_user) %>">Profile</a></li>
        <li class="right">Welcome <%= @current_user.name %>!</li>
        <li class="right"><%= link_to "Log Out", logout_path, method: :delete %></li>
      <% else %>
        <li class="right"><a href="<%= new_user_path %>">Sign Up!</a></li>
        <li class="right"><a href="<%= new_login_path %>">Login!</a></li>
      <% end %>
    </ul>
    <%= yield %>
  </body>
</html>
